/* .category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
    margin-top:60px !important;
}
.category h2{
    text-transform: uppercase;
    font-weight: 600;
}
.category .card{
    width:250px;
    height:300px;
    border-radius: 4px;
}
.category .rowcard{
    display: flex ;
    gap:30px;
}
.category .card img{
    width:100%;
}
.category .card .card-title{
    text-align: center;
    font-size: 16px !important;
    font-weight: 600;
    text-transform: uppercase;
    margin:10px 0;
}

.category .card .btn{
position: absolute;
bottom:10px;
left:20%;
}
.link{
    color: #fff;

}
.link:hover{
    color: #000 !important;
    text-decoration: none;
}
.navlink{
    gap:20px;
    margin-left:400px;
}

.navbar{
    display: flex;
}
li{
    margin-right: 20px;
    padding:10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.navbar button:hover,
.nav-link:hover{
    color: #000;
}
li:hover{
    background-color: #fff;
    color: #000 !important;
}
li:hover .link{
    color: #000;
} */